*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

#root {
  height: 100%;
}
body,
html {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: hsl(234, 42%, 40%);
  color: white;
}

form {
  display: flex;
  border: 1px solid white;
  padding: 1rem;
  flex-direction: column;
  width: 40%;
}

label {
  font-size: 1.6rem;
}

input {
  border-style: none;
  border-radius: 10px;
  outline: none;
  padding: 0.2rem;
}

#name {
  margin-bottom: 0.8rem;
}

.form-button {
  width: clamp(6rem, 15%, 20rem);
  margin-top: 1rem;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  align-self: flex-end;
}

.form-button:hover {
  color: hsl(356, 81%, 73%);
  border: 1px solid hsl(356, 81%, 73%);
}

.page-heading {
  font-family: "Caveat", cursive;
  font-size: 4.5rem;
  color: hsl(356, 81%, 73%);
  font-weight: 700;
}

.page {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;
}

.logout-button {
  margin: 1rem 0 0 1rem;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.4rem;
}

.logout-button:hover {
  color: hsl(356, 81%, 73%);
  border-color: hsl(356, 81%, 73%);
}

@media (max-width: 800px) {
  form {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .page-heading {
    font-size: 3rem;
  }
}

@media (max-width: 350px) {
  form {
    width: 70%;
    font-size: 1rem;
  }
}
